.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  cursor: pointer;
}
.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}
.header__center {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 999px;
}
.header__center > input {
  border: none;
  outline-width: 0;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}
